@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
*{
    box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
background-color: #ffffff;
}
.container1{
    text-align: center;
    position: relative;
    top: 70px;
}
.box1{
    color: #6c6d75;
    font-size: 17px;
    word-spacing: 2px;
      font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 3px;
}
.box2{
    color: rgb(101, 96, 96);
    font-size: 24px;
    word-spacing: 1px;
      font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  letter-spacing: .5px;
  position: relative;
  top: 5px;
}
.box3{
    color: rgb(101, 96, 96);
    font-size: 13px;
    word-spacing: 1px;
    font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 20px;
  letter-spacing: .5px;
  position: relative;
  top: 10px;
}
.container2{
    width: 300px;
    height: 230px;
    border: none;
    position: relative;
    top: -90px;
    background-color: #ffffff;
    left: 500px;
    box-shadow: 2px 2px 2px #c4c2c2;
}
.item1{
    position: relative;
    top: -40px;
    left: 20px;
    font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #464648;

}
.item2{
    position: relative;
    top: -30px;
    left: 20px;
     font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #636365;
  font-size: 13px;
  line-height: 18px;
    
}
.img1{
    position: relative;
    left: 200px;
    top: 130px;
}
.bg1{
     width: 297px;
    height: 225px;  
    background-color: #ee5456;
    border-radius: 5px;
    position: relative;
    left: 500px;
    top: 130px;
}
.container3{
    width: 300px;
    height: 230px;
    border: none;
    position: relative;
    top: -230px;
    background-color: #ffffff;
    left: 150px;
    box-shadow: 2px 2px 2px #c4c2c2;
}
.part1{
    position: relative;
    top: -40px;
    left: 20px;
    font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #464648;

}
.part2{
    position: relative;
    top: -30px;
    left: 20px;
     font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #636365;
  font-size: 13px;
  line-height: 18px;
    
}
.img2{
    position: relative;
    left: 200px;
    top: 130px;
}
.bg2{
     width: 297px;
    height: 225px;  
    background-color: #50cecc;
    border-radius: 5px;
    position: absolute;
    left: 150px;
    top: 300px;
}
.container4{
    width: 300px;
    height: 230px;
    border: none;
    position: absolute;
    top: 305px;
    background-color: #ffffff;
    right: 120px;
    box-shadow: 2px 2px 2px #c4c2c2;
}
.sec1{
    position: relative;
    top: -40px;
    left: 20px;
    font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #464648;

}
.sec2{
    position: relative;
    top: -30px;
    left: 20px;
     font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #636365;
  font-size: 13px;
  line-height: 18px;
    
}
.img3{
    position: relative;
    left: 200px;
    top: 130px;
}
.bg3{
     width: 297px;
    height: 225px;  
    background-color: #659ddc;
    border-radius: 5px;
    position: absolute;
    right: 120px;
    top: 300px;
}    
.container5{
    width: 300px;
    height: 230px;
    border: none;
    position: relative;
    left: 500px;
     bottom: 320px; 
    background-color: #ffffff;
    
    box-shadow: 2px 2px 2px #c4c2c2;
}
.sect1{
    position: relative;
    top: -40px;
    left: 20px;
    font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #464648;

}
.sect2{
    position: relative;
    top: -30px;
    left: 20px;
     font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #636365;
  font-size: 13px;
  line-height: 18px;
    
}
.img4{
    position: relative;
    left: 200px;
    top: 130px;
}
.bg4{
     width: 297px;
    height: 225px;  
    background-color: #fcad4b;
    border-radius: 5px;
     position: relative;
    left: 500px;
     bottom: 100px; 
}
.last{
    position: relative;
    top: -200px;
}